<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CaveDb.Paul"
			 connectionString="Server=localhost\SQLEXPRESS02;Database=Cave;Trusted_Connection=True;Encrypt=False;"
			 providerName="Microsoft.Data.SqlClient"/>

		<add name="CaveDb.Test"
			 connectionString="Server=localhost\SQLEXPRESS;Database=Cave;Trusted_Connection=True;Encrypt=False;"
			 providerName="Microsoft.Data.SqlClient"/>

		<add name="CaveDb.Yohan"
			 connectionString="Server=172.16.119.42\SQLEXPRESS02,1433;Database=Cave;User Id=yohan;Password=1234;Encrypt=False;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="Environment" value="Test"/>
	</appSettings>

</configuration>
